* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

@media screen and (min-width: 992px) {
  body {
    max-width: 1400px;
  }
}

a, address {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

* {
  font-family: 'Roboto', sans-serif;
}

.logo {
  font-family: 'Shrikhand', cursive;
}

.menu-list h2 {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 200;
  padding: 1em 0 1em 0;
}

.purple-button {
  display: block;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1em 2em;
  border-radius: 2em;
  -webkit-box-shadow: 4px 4px 4px #b6b6b6;
          box-shadow: 4px 4px 4px #b6b6b6;
  color: white;
}

.purple-button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#fface8), to(#ae80e5));
  background: linear-gradient(#fface8, #ae80e5);
  -webkit-box-shadow: 6px 6px 6px #fface8;
          box-shadow: 6px 6px 6px #fface8;
}

.menu-list__entry--checkmark {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  padding: 0 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #99E2D0;
  background-color: #99E2D0;
  border-radius: 0 1em 1em 0;
  -webkit-transform: translateX(4em);
          transform: translateX(4em);
}

.menu-list__entry--checkmark i {
  background-color: white;
  padding: 0.2em;
  border-radius: 100%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.menu-list__entry:hover .menu-list__entry--checkmark {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.menu-list__entry:hover .menu-list__entry--checkmark i {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: -webkit-transform 500ms 100ms;
  transition: -webkit-transform 500ms 100ms;
  transition: transform 500ms 100ms;
  transition: transform 500ms 100ms, -webkit-transform 500ms 100ms;
}

.menu-list__entry:hover .menu-list__entry--description-byline {
  margin-right: 3em;
  -webkit-transition: margin-right 500ms;
  transition: margin-right 500ms;
}

.fa-heart:hover {
  -webkit-animation: fill 0.5s ease-out;
          animation: fill 0.5s ease-out;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top, #9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

@-webkit-keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

#loader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  width: 100%;
  height: 200vw;
  background: #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: loader 3s;
          animation: loader 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  font-size: 300%;
}

#loader .logo {
  position: relative;
  bottom: 40vw;
}

#loader .fa-spinner {
  position: relative;
  -webkit-animation: spinner 2s infinite ease-in-out;
          animation: spinner 2s infinite ease-in-out;
  margin-top: 50px;
  bottom: 40vw;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  #loader {
    height: 200vw;
  }
}

@media screen and (min-width: 992px) {
  #loader {
    height: 175vw;
  }
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  100% {
    -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0turn);
            transform: rotate(0turn);
  }
  100% {
    -webkit-transform: rotate(2turn);
            transform: rotate(2turn);
  }
}

.menu-list__entry {
  background-color: white;
  opacity: 0;
  margin-bottom: 0.75em;
  border-radius: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  height: 70px;
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  .menu-list__entry {
    height: 60px;
  }
}

.menu-list__entry--description {
  padding: 1em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 0.9em;
  min-width: 0;
}

.menu-list__entry--description-title > h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-list__entry--description-byline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 0;
  margin-right: 0;
}

.menu-list__entry--description-byline > p {
  margin: 0.2em 0 0 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 2em;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    -webkit-transform: translateY(150%);
            transform: translateY(150%);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.menu-entrees > .menu-list__entry:nth-of-type(1) {
  -webkit-animation: fadein 0.5s;
          animation: fadein 0.5s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menu-plats > .menu-list__entry:nth-of-type(1) {
  -webkit-animation: fadein 0.5s;
          animation: fadein 0.5s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menu-desserts > .menu-list__entry:nth-of-type(1) {
  -webkit-animation: fadein 0.5s;
          animation: fadein 0.5s;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menu-entrees > .menu-list__entry:nth-of-type(2) {
  -webkit-animation: fadein 0.5s;
          animation: fadein 0.5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menu-plats > .menu-list__entry:nth-of-type(2) {
  -webkit-animation: fadein 0.5s;
          animation: fadein 0.5s;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menu-desserts > .menu-list__entry:nth-of-type(2) {
  -webkit-animation: fadein 0.5s;
          animation: fadein 0.5s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menu-entrees > .menu-list__entry:nth-of-type(3) {
  -webkit-animation: fadein 0.5s;
          animation: fadein 0.5s;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menu-plats > .menu-list__entry:nth-of-type(3) {
  -webkit-animation: fadein 0.5s;
          animation: fadein 0.5s;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menu-desserts > .menu-list__entry:nth-of-type(3) {
  -webkit-animation: fadein 0.5s;
          animation: fadein 0.5s;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menu-entrees > .menu-list__entry:nth-of-type(4) {
  -webkit-animation: fadein 0.5s;
          animation: fadein 0.5s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menu-plats > .menu-list__entry:nth-of-type(4) {
  -webkit-animation: fadein 0.5s;
          animation: fadein 0.5s;
  -webkit-animation-delay: 3.5s;
          animation-delay: 3.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menu-desserts > .menu-list__entry:nth-of-type(4) {
  -webkit-animation: fadein 0.5s;
          animation: fadein 0.5s;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.restaurants__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 250px;
  margin-bottom: 2em;
}

.restaurants__card--img {
  overflow: hidden;
  border-radius: 1em 1em 0 0;
  width: 100%;
}

.restaurants__card--img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurants__card--bottom {
  width: 100%;
  background-color: white;
  padding: 1em;
  border-radius: 0 0 1em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: space-between;
}

.restaurants__card--bottom-text {
  font-size: 0.9em;
  margin: 0;
  width: 85%;
}

.restaurants__card--bottom-icon {
  font-size: 1.5em;
}

@media screen and (min-width: 992px) {
  .restaurants__card {
    height: 350px;
  }
}

.container {
  padding: 1em;
}

.header {
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.header__logo {
  font-size: 2em;
  height: 2em;
  line-height: 2em;
  -webkit-box-shadow: 0px 0px 6px black;
          box-shadow: 0px 0px 6px black;
}

.header__location {
  z-index: -1;
  position: relative;
  display: inline-block;
  height: 3em;
  line-height: 3em;
  vertical-align: middle;
  background-color: #eaeaea;
  width: 100%;
}

.header__location .fas {
  position: relative;
  right: 1em;
}

.header__arrow {
  font-size: 1.5em;
  position: absolute;
  top: 0.75em;
  left: 2em;
}

footer {
  background-color: #353535;
  color: white;
}

footer .logo {
  padding-bottom: 1em;
}

footer ul {
  list-style: none;
  padding-left: 0;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer ul li {
  width: 100%;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

footer ul li .fas {
  width: 1.8em;
}

@media screen and (min-width: 992px) {
  footer {
    font-size: 1.2em;
  }
  footer .logo {
    text-align: center;
    font-size: 1.5em;
  }
  footer ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
  }
  footer ul li {
    width: unset;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  bottom: 2em;
}

.menu-list-section {
  width: 100%;
}

@media screen and (min-width: 992px) {
  .menu-list-section {
    width: 30%;
    font-size: 0.9em;
  }
}

.menu-list h2 {
  display: block;
  width: 100%;
  position: relative;
}

.menu-list h2::before {
  content: "";
  position: absolute;
  top: 2.75em;
  height: 1px;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}

.menu-list .purple-button {
  margin-bottom: 1em;
  margin-top: 2em;
}

h2 {
  margin-bottom: 1em;
}

.title {
  text-align: center;
  background-color: #f6f6f6;
}

.title__byline {
  margin-bottom: 2em;
}

.title, .fonctionnement {
  padding-top: 2em;
  padding-bottom: 2em;
}

.fonctionnement ol {
  list-style: none;
  counter-reset: item;
  padding-left: 10px;
}

.fonctionnement ol li {
  counter-increment: item;
  background-color: #f6f6f6;
  padding: 1em 0;
  margin-bottom: 1.5em;
  border-radius: 1em;
  -webkit-box-shadow: 4px 4px 4px lightgrey;
          box-shadow: 4px 4px 4px lightgrey;
}

.fonctionnement ol li .fas {
  position: relative;
  right: 0.8em;
}

.fonctionnement ol li:before {
  position: relative;
  margin-right: 1em;
  padding: 0.1em;
  content: counter(item);
  background: #9356DC;
  border-radius: 100%;
  color: white;
  width: 1.2em;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  left: -0.6em;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .fonctionnement ol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 10px;
  }
  .fonctionnement ol li {
    width: 40%;
  }
  .fonctionnement ol li:nth-of-type(1) {
    position: relative;
    right: 27%;
  }
  .fonctionnement ol li:nth-of-type(3) {
    position: relative;
    left: 27%;
  }
}

@media screen and (min-width: 992px) {
  .fonctionnement ol {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
  }
  .fonctionnement ol li {
    width: 30%;
    font-size: 1.2em;
  }
}

.restaurants {
  background-color: #f6f6f6;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .restaurants h2 {
    width: 100%;
  }
  .restaurants article {
    width: 45%;
  }
}

@media screen and (min-width: 992px) {
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .restaurants h2 {
    width: 100%;
  }
  .restaurants article {
    width: 45%;
  }
}

.menu-background {
  background-color: #f6f6f6;
}

.menu-banner {
  overflow: hidden;
  width: 100%;
  height: 200px;
}

.menu-banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  .menu-banner {
    height: 300px;
  }
}

@media screen and (min-width: 992px) {
  .menu-banner {
    height: 400px;
  }
}

.menu-title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  bottom: 2em;
  border-radius: 1em 1em 0 0;
  background-color: #f6f6f6;
}

.menu-title > h1 {
  margin: 0 0 0 0.5em;
  font-weight: 500;
}

@media screen and (min-width: 992px) {
  .menu-title > h1 {
    width: 100%;
    text-align: center;
    position: relative;
  }
}

.menu-title > .far {
  font-size: 1.5em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: absolute;
  left: 90%;
}
/*# sourceMappingURL=main.css.map */