.menu-background {
        background-color: $color-background-light;
}

.menu-banner {
    overflow: hidden;
    width: 100%;
    height: $banner-height;
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    @include tablet-version {
        height: $banner-height * 1.5;
    }
    @include desktop-version {
        height: $banner-height * 2;
    }
}

.menu-title {
    width: 100%;
    display: flex;
    position: relative;
    bottom: 2em;
    border-radius: 1em 1em 0 0;
    background-color: $color-background-light;
    > h1 {
        margin: 0 0 0 0.5em;
        font-weight: 500;
        @include desktop-version {
            width: 100%;
            text-align: center;
            position: relative;
        }
    }
    > .far {
        font-size: 1.5em;
        align-self: center;
        position: absolute;
        left: 90%;
    }
}