@mixin font-logo {
    font-family: 'Shrikhand', cursive;
}

@mixin font-default {
    font-family: 'Roboto', sans-serif;
}

@mixin button-color {
    background: linear-gradient($color-secondary, $color-primary);
}

@mixin button-color-hover {
    background: linear-gradient(lighten($color-secondary, 10%), lighten($color-primary, 10%));
}

@mixin tablet-version {
    @media screen and (min-width: map-get($breakpoints, tablet)) and (max-width: map-get($breakpoints, desktop)) {
        @content;
    }
}

@mixin desktop-version {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}