@mixin font-logo {
    font-family: 'Shrikhand', cursive;
}

@mixin font-default {
    font-family: 'Roboto', sans-serif;
}

@mixin button-color {
    background: linear-gradient($color-secondary, $color-primary);
}

@mixin button-color-hover {
    background: linear-gradient(lighten($color-secondary, 10%), lighten($color-primary, 10%));
}