$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background-light: #f6f6f6;
$color-background-medium: #eaeaea;
$color-background-dark: #353535;
$color-background-primary: #F4EDFF;

$button-padding: 1em 2em;
$card-height: 250px;
$banner-height: 200px;

$breakpoints: (mobile: 600px, tablet: 768px, desktop: 992px);