footer {
    background-color: $color-background-dark;
    color: white;
    & .logo {
        padding-bottom: 1em;
    }
    & ul {
        list-style: none;
        padding-left: 0;
        line-height: 1.5;
        display: flex;
        flex-direction: column;
        & li {
            width: 100%;
            justify-content: left;
            & .fas {
                width: 1.8em;
            }
        }
    }

    @include desktop-version {
        font-size: 1.2em;
        & .logo {
            text-align: center;
            font-size: 1.5em;
        }
        & ul {
            flex-direction: row;
            justify-content: space-evenly;
            width: 100%;
            & li {
                width: unset;
                justify-content: center;
            }
        }
    }
}