.menu-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    bottom: 2em;
    &-section {
        width: 100%;
        @include desktop-version {
            width: 30%;
            font-size: 0.9em;
        }
    }
    h2 {
        display:block;
        width: 100%;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 2.75em;
            height: 1px;
            width: 40px;
            border-bottom: 3px solid $color-tertiary;
        }
    }
    .purple-button {
        margin-bottom: 1em;
        margin-top: 2em;
    }
    
}