.menu-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    bottom: 2em;
    &-section {
        width: 100%;
        @include desktop-version {
            width: 30%;
            font-size: 0.9em;
        }
    }
    h2 {
        display:block;
        width: 100%;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: 2.75em;
            height: 1px;
            width: 40px;
            border-bottom: 3px solid $color-tertiary;
        }
    }
    .purple-button {
        margin-bottom: 1em;
        margin-top: 2em;
    }
    &__entry {
        background-color: white;
        /*padding: 1em;*/
        margin-bottom: 0.75em;
        border-radius: 1.2em;
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        &--description {
            padding: 1em;
            flex-grow: 1;
            font-size: 0.9em;
            min-width: 0;
            &-title {
                > h3 {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }                    
            }
            &-byline {
                display: flex;
                justify-content: space-between;
                min-width: 0;
                > p {
                    margin: 0.2em 0 0 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    min-width: 2em;
                }
            }
        }

        &--checkmark {
           visibility: hidden;
            text-align: center;
            align-self: center;
            width: 0;
            color: $color-tertiary;
            line-height: 70px;
            background-color: $color-tertiary;
            border-radius: 0 1em 1em 0;
            @include desktop-version {
                line-height: 60px;
            }
            > .fas {
                background-color: white;
                padding: 0.2em;
                border-radius: 100%;
            }
        }
        &:hover .menu-list__entry--checkmark {
            visibility: visible;
            width: 60px;
        }
    }
}